.slider-section {
    max-width: 1500px;
    height: auto;
    color: #fff;
    background-color: #272932;
}

.heading-section {
    max-width: 850px;
}

.slider-section h1 {
    max-width: 550px;
    font-weight: 700;
    font-size: 25px;
    color: #F5E2C8;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
}

.flexible-item {
    max-width: 1100px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.flexible_item {
    display: flex;
    display: none;
}

.card {
    border: 2px solid #1f3c6e;
    background-color: #1c2636;
    border-radius: 10px;
    height: 300px;
    max-width: 350px;
    margin-left: 15px;
}

.card img,
.card h2,
.card p {
    padding-top: 10px;
    margin-left: 20px;
}

.card p {
    max-width: 300px;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
}

.btn-sec {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .slider-section {
        max-width: 380px;
        overflow: hidden;
    }

    .slider-section h1 {
        padding-top: 50px;
        max-width: 270px;
    }

    .flexible-item {
        display: none;
    }

    .flexible_item {
        display: block;
    }

    .flexible_item p {
        max-width: 240px;
    }

    .card {
        margin-top: 20px;
        max-width: 300px;
        height: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        min-width: 290px !important;
        margin-left: 40px !important;
    }

    .carousel {
        display: none;
    }
}